*{
    box-sizing: border-box;
    /* background-color: aliceblue; */
}

.header{
    background-color: #ff7e51;
    padding: 1px 5px;
    text-align: center;
    color: white;
   
}

.navi-menu{
    background-color: #39a2ac;
    padding: 1px 5px;
}

.navi-menu a{
   color: white;
   text-decoration: none;
   padding: 10px;
   font-size: 20px;
   display: block;
}

.main{
    background-color: aqua;
    padding: 1px 5px;
}


.aside{
    background-color: #39a2ac;
    padding: 1px 5px;
    text-align: center;
}


.footers{
    background-color: black;
    text-align: center;
    color: white;
    padding:  20px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    
    [class*="col-"]{
        width: 100%;
    }

    .navi-menu a{
       background-color: blue;
       text-align: center;
       margin: 10px 0px;
     }

     .main{
        background-color: brown;
        text-align: center;
        /* margin: 10px; */
        margin: 10px 0px;
        color: white;

        
    }
}